$white:#f5f5f5;
$green1:#0caa7d;
$green2:#0ca57a;
$red:#fb1004da;
$black:#000000;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

@mixin main-font {
  font-family: 'Poppins', sans-serif;
}

@mixin secondary-font {
  font-family: 'Roboto', sans-serif;

}

@mixin third-font {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $radius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $radius;

  &:hover {
    background-color: darken($color: $col1, $amount: 15);
    color: $col2;
  }
}


@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #101010;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: flex;

  h2 {
    color: $black;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      width: 60px;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: -2px;
      background-color: #6bd1bd;

    }

    &::after {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      background-color: $red;
      border-radius: 100%;

    }
  }


}


/*header section*/
.hero_area {
  height: 100vh;
}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  .active {
    a {
      color: $green1 !important;
    }
  }

  .call_btn {
    margin-left: auto;

    a {
      @include hero_btn($black, $white, 10px, 45px, 25px);
      font-size: large;
    }
  }


}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar {
  width: 100%;

  .navbar-toggler {
    margin-right: 20px;
  }
  .navbar-brand img {
    width: 190px;
  }

  .login-btn {
    font-weight: bold;
    font-size: large;
  }
}



/*end header section*/

.slider_section {
  .row {
    align-items: center;
  }

  .detail-box {
    h1 {
      font-size: 2.6rem;
    }

    p {
      margin: 10px 0;
      font-size: small;
    }

    a {
      @include hero_btn($red, $white, 10px, 45px, 20px);
      margin-top: 10px;
      margin-bottom: 45px;
    }
  }

  .img-box {
    img {
      width: 100%;
      height: fit-content;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    left: 2.5%;
    width: 45px;
    height: 45px;
    border: none;
    top: 47%;
  }

  .carousel-control-prev {
    transform: translate(-50%, 55px);
  }

  .carousel-control-next {}
}

.carousel-control-prev,
.carousel-control-next {
  background-color: $green1;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  opacity: 1;
  border-radius: 7px;


  &:hover {
    background-color: $red;
  }
}

// slider section
#carouselExampleControls {
  height: fit-content;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// end slider section

// Project Showcase Section
.project-showcase-container {
  background-color: #2bf0b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-showcase {
  max-width: 1200px;
  border-radius: 10px;
  margin-top:30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heading {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 2.3rem;
  }

  .subheading {
    text-align: center;
    font-size: medium;
    max-width: 600px;
    padding: 10px;
  }

  .project-card{
    height: 50vh;
    background-color: whitesmoke;
    padding: 30px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: auto;
    margin: 20px;
    width: 70vw;
    overflow-y: scroll;
    scrollbar-width: none;
    .card {
      border-color:inherit;
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      max-width: 30rem;
      min-width: 18rem;
      border: 0.5px solid rgba(0, 0, 0, 0.201);
      border-radius: 10px;

      .card-header {
        background-color: rgba(62, 62, 221, 0.667);
        color: whitesmoke;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }


  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: none; /* Remove default border */
    border-radius: 10px;
    cursor: pointer; /* Add pointer cursor on hover */
  }

  button:focus {
      outline: none; /* Remove outline on focus */
  }

  button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
// End Project Showcase Section

// about section
.about_section {
  .row {
    align-items: center;
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  .detail-box {
    // padding-right: 35px;

    p {
      margin-top: 25px;
    }

    a {
      @include hero_btn($red, $white, 12px, 45px, 10px);
      margin-top: 25px;
    }
  }
}

// end about section

// do section
.do_section {
  .content-box {
    color: $white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 25px 0;

    img {
      height: 70px;
      margin: 15px;
    }
  }
}


// end do section

// skill section
.skill_section {
  background-image: url(../images/skill-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .row {
    .col-md-3 {
      display: flex;
      justify-content: center;
      text-align: center;
      color: $white;
      margin: 25px 0;

      h6 {
        font-weight: bold;
        margin-top: 20px;
        font-size: 18px;
      }
    }
  }

  .skill_padding {
    padding: 75px 0;
  }



  .custom_heading-container {
    justify-content: flex-end;

    h2 {
      color: $white;

      &::before,
      &::after {
        background-color: $white;
      }
    }
  }

  .progress_text {
    font-size: 24px !important;
    color: $white;
    font-weight: bold;
  }
}


// end skill section


// client section

.client_section {
  .custom_heading-container {
    justify-content: center;

  }

  .client_container {
    display: flex;
    align-items: flex-start;
  }

  .client_box {
    background-color: #f3f3f3;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    border-radius: 20px;

    &.b-2 {
      margin-top: 135px;
    }

    .client-id { 
      display: flex;
      align-items: flex-end;

      .img-box {
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .name {
        margin-left: 10px;

        h5 {
          text-transform: uppercase;
          color: $green1;
          font-weight: bold;
        }
      }
    }

    .detail {
      margin-top: 25px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 60PX;
    height: 60PX;
    border-radius: 100%;
    top: 40%;
    background-size: 10px;

  }

  .carousel-control-prev {
    left: -75px;
  }

  .carousel-control-next {
    right: -75px;
  }
}


// end client_section

// contact section
.contact_section {
  background-color: #0ca57a;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;

  .row {
    align-items: center;
  }

  h2 {
    margin-bottom: 45px;
    @include secondary-font();
    font-weight: bold;
  }

  form {
    padding-right: 35px;
    input {
      width: 100%;
      border: 0;
      height: 50px;
      border-radius: 25px;
      margin-bottom: 25px;
      padding-left: 25px;
      background-color: $white;
      border: 1px solid #bbbbbb;
      outline: none;
      color: #101010;
  
      &::placeholder {
        color: #131313;
      }
  
      &.message-box {
        height: 120px;
      }
    }

  }
  textarea {
    width: 100%;
    border: 0;
    height: 100px;
    padding: 30px;
    border-radius: 25px;
    background-color: $white;
    border: 1px solid #bbbbbb;
    outline: none;
    color: #060606
  }


  button {
    background-color: #fa0909;
    padding: 15px 55px;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    @include secondary-font();

    &:hover {
      background-color: darken($color: #fa0909, $amount: 10);
    }
  }
}

// end contact section


// info section
.info_section {
  background-color: #201f33;
  color: $white;
  @include third-font();


  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }


}

.info_links {

  ul {
    padding-left: 15px;

    .active {
      &::before {
        background-color: $green1;
      }
    }

    li {
      list-style-type: none;
      position: relative;

      &::before {
        content: "";
        left: -15px;
        top: 50%;
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $white;
        transform: translateY(-50%);

      }

      a {
        color: $white;
      }
    }
  }
}

.info_form {
  input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
  }

  button {
    background-color: $green1;
    padding: 8px 35px;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      background-color: darken($color: $green1, $amount: 10);
    }
  }
}

.info_social {
  .social_container {
    display: flex;

    a {
      margin: 0 5px;

      img {
        width: 35px;
      }
    }
  }
}

.info_contact {
  >div {
    display: flex;
    align-items: flex-start;

    img {
      width: 20px;
      height: auto;
      margin-right: 12px;
    }
  }
}

// end info section

/* footer section*/

.footer_section {
  background-color: #201f33;
  font-weight: 500;
  @include secondary-font();
}

.footer_section p {
  border-top: 1px solid $white;
  width: 60%;
  color: $white;
  margin: 0 auto;
  text-align: center;
  padding: 20px 35px;
}

.footer_section {
  a {
    color: $white;
  }

}

// end footer section

//Auth-Page

.redirect-text {
  margin-top: 20px;
  font-size: small;
  font-weight: light;
  opacity: 0.6;
}

.login-container {
  margin-top: 6%;
  background-color: #e8f5e9; /* Light green background */
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.card {
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #a5d6a7; /* Light green border */
}

.card-header {
  background-color: #66bb6a; /* Light green header */
  color: white;
}

.btn-primary {
  background-color: #66bb6a; /* Light green button */
  border-color: #66bb6a;
}

.btn-primary:hover {
  background-color: #4caf50; /* Darker green on hover */
  border-color: #66bb6a;
}


.form-heading {
  color:#fdfdfd;
  font-weight: bolder;
}

.auth-img {
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.708);
  border-radius: 20px;
  border: 1px solid #0ca57a;
  width: 100%;
}

// Auth Page


// Form Styling
textarea {
  resize: none;
}
// end Form Styling


// FAQ Section

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-section {
  width: 70vw;
}
// end FAQ Section


// Why choose us section

.wcu-section {
  background-color: #b9edde;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width:40%;
  }
  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: underline;
  }
}

.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgb(0, 0, 0);}
  to{border-right-color: transparent;}
}

// end Why choose us section


// partnership Section
.partnership-box {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .partnership-bnt {
    font-size: large;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    transition: ease-in 0.2s;
  }
  
  .partnership-bnt:hover  {
    background-color: #1a2e35;
    color: white; 
  }

  img{
    width: 50%;
    border-radius: 40%;
  }
  .heading {
    padding: 25px;
    color: black;
    font-size: 4rem;
    font-weight: bolder;
    margin-top: -290px;

    div {
      font-size: medium;
      .line {
        border: 3px solid rgb(5, 104, 30);
        width: 45%;
        margin: 10px 0px;
      }
    }
  }
}
// end partnership Section


// Chat Button


.chatbot-toggler {
  z-index: 99999999999999;
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 80%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
// End Chat Button
